<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="thistle">
    <ion-title>Nueva orden: {{orderName}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="dark" (click)="close()">
        <b>Regresar</b>
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="powerdblue" class="custom-content">
  <ion-list class="custom-list">
    <app-saucer-item-normal
    *ngFor="let saucer of saucers; let i = index"
    [saucer] = "saucer"
    [saucersToEdit] = "[]"
    (saucerSelected)=addSaucerToOrder($event)
    >
    </app-saucer-item-normal>
  </ion-list>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar color="thistle">
    <ion-button color="success" expand="full" (click)="createOrder()">Crear</ion-button>
  </ion-toolbar>
</ion-footer>