<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Nuevo platillo</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary" (click)="close()">
        Regresar
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre de platillo</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea [(ngModel)]="description"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Precio</ion-label>
    <ion-input type="number" [(ngModel)]="price"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="createSaucer()">Crear</ion-button>
</ion-content>