<ion-header [translucent]="true">
  <ion-toolbar color="thistle">
    <ion-title color="dark">
      Administración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="powerdblue" class="custom-content">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="false" color="primary">
      <ion-icon name="power" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="false" color="primary">
      <ion-icon name="calendar" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-title size="large" class="ion-text-center"><h1><b>Domingo 31 enero</b></h1></ion-title>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pedidos activos: 3</ion-card-title>
      <ion-card-title>Pedidos finalizados: 9</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="logo-usd"></ion-icon>
          <ion-label>Subtotal: 369.00</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-icon name="logo-usd"></ion-icon>
          <ion-label>Caja: 150.00</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-icon name="logo-usd"></ion-icon>
          <ion-label>Gastos: 169.00</ion-label>
        </ion-item>

        <ion-item>
          <ion-icon name="logo-usd"></ion-icon>
          <ion-label>Total con caja: 350.00</ion-label>
        </ion-item>

        <ion-item>
          <ion-icon name="logo-usd"></ion-icon>
          <ion-label>Total sin caja: 200.00</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
