.header-row {
    background: cadetblue;
    color: black;
}

.item-row {
    background: lavender;
    color: black;
}

.table-container {
    margin: 15px;
    padding: 10px;
    background: white;
    border-radius: 25px;
}