<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createNewOrder()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-order-item
  *ngFor="let order of orders; let i = index"
  [order] = "order"
  (showOrder)=openShowOrder($event)
  (editOrder)=openEditOrder($event)
  (deleteOrder)=removeOrder($event)
  >
  </app-order-item>
</ion-content>
