<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="thistle">
    <ion-buttons slot="primary">
      <ion-button color="dark" (click)="close()">
        <b>Regresar</b>
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="powerdblue">
  <img [src]="saucer.imagePath != null ? domSanitizationService.bypassSecurityTrustUrl(saucer.imagePath) : imageDefault" class="img-default">
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-text>
        <h1><b>{{saucer.name}}</b></h1>
      </ion-text>
    </ion-row>
    <ion-row>
      <p>
        {{saucer.description}}
      </p>
    </ion-row>
    <ion-row>
      <ion-text>
        <h5><b>${{saucer.price}}</b></h5>
      </ion-text>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="showFooter" collapse="fade">
  <ion-toolbar color="thistle">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="quantity-items-custom">
            <ion-icon name="remove-circle" (click)="decrement()"></ion-icon>
            <p class="quantity-custom"><b>{{quantity}}</b></p>
            <ion-icon name="add-circle" (click)="increment()"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <ion-button color="success" expand="full" (click)="addSaucer()">Agregar ${{total}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>